@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap");

nav {
  position: relative;
  width: 100% !important;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 2rem 3rem;
  align-items: center;
  justify-items: center;
  transition: all 0.3s ease;
}

nav a {
  color: #333;
  font-weight: 600;
  text-decoration: none;
}

nav img {
  position: absolute;
  width: 8rem;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 1s ease;
}

nav button {
  background: none;
  cursor: pointer;
  color: #333;
  border: 1px solid #333;
  width: 80%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/* Scrolling Animation */

nav.scrolled img {
  width: 3rem;
  position: relative;
  top: 0;
}

nav.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 1rem 2rem;
  position: fixed;
  backdrop-filter: blur(3px) contrast(60%);
  -webkit-backdrop-filter: blur(2px) contrast(60%);
}

@keyframes navbarScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  font-family: "Poppins", sans-serif;
  margin: 4rem 0;
}

footer div > h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul > li {
  line-height: 2;
}

footer div:nth-child(5) {
  width: 100%;
  text-align: center;
  grid-column: span 4;
  margin-top: 2rem;
}
