@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ece3e3;
  margin: 0 auto;
  font-family: "Cardo", serif;
}
